<mat-card class="card-with-image">
    <mat-card-header>
        <div mat-card-avatar class="card-header-image"></div>
        <mat-card-title>Card with Tab</mat-card-title>
        <mat-card-subtitle>Egg Recipie</mat-card-subtitle>
    </mat-card-header>
        <img mat-card-image src="assets/images/french-omelette.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="First"> <p>
                A true French omelette, or omelet as we Americans call it, is just eggs and butter, no filling. The
                egg is folded for a soft, tender texture. It's 10% ingredients and 90% technique, so it does take a
                bit of practice to perfect.
            </p> </mat-tab>
            <mat-tab label="Second"> <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis rhoncus tortor, a auctor tortor.
                Vivamus lectus leo, condimentum in mi nec, tempor interdum augue. Morbi a fringilla arcu. Vivamus
                rutrum odio velit, eu fermentum urna facilisis eget. Pellentesque porta semper consequat. Nulla
                sapien ipsum, vehicula sit amet ipsum sed, congue mollis elit. Nullam quis sapien ullamcorper,
                lobortis nibh vitae, semper lectus. Nulla rhoncus lorem non laoreet aliquet.
            </p> </mat-tab>
            <mat-tab label="Third"> <p>
                A true French omelette, or omelet as we Americans call it, is just eggs and butter, no filling. The
                egg is folded for a soft, tender texture. It's 10% ingredients and 90% technique, so it does take a
                bit of practice to perfect.
            </p> </mat-tab>
          </mat-tab-group>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>