.icon-category{
    margin: 12px 0 6px;
    font-size: 20px;
}
.icon-box{
    padding: 20px 40px;
}
.icon-button {
    padding: 6px;
}
.icon-column{
    flex: 20%;
  max-width: 20%;
  padding: 5px 4px;
}
@media (min-width:992px) {
    .icon-column {
      flex: 10%;
      max-width: 10%;
    }
  }
.icon{
    font-size: 26px;
    position: relative;
    left: -1px;
    top: -4px;
}
.input_field_width_control{
    width: 300px;
}
