<div class="row">
    <div class="col-md-6 col-lg-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Simple Card</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis rhoncus tortor, a auctor tortor.
                    Vivamus lectus leo, condimentum in mi nec, tempor interdum augue. Morbi a fringilla arcu. Vivamus
                    rutrum odio velit, eu fermentum urna facilisis eget. Pellentesque porta semper consequat. Nulla
                    sapien ipsum, vehicula sit amet ipsum sed, congue mollis elit. Nullam quis sapien ullamcorper,
                    lobortis nibh vitae, semper lectus. Nulla rhoncus lorem non laoreet aliquet. Duis eros massa,
                    commodo a imperdiet sit amet, fermentum vitae nibh. Curabitur gravida semper neque, ac eleifend nunc
                    congue eget.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-6 col-lg-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Card with Action</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis rhoncus tortor, a auctor tortor.
                    Vivamus lectus leo, condimentum in mi nec, tempor interdum augue. Morbi a fringilla arcu. Vivamus
                    rutrum odio velit, eu fermentum urna facilisis eget. Pellentesque porta semper consequat. Nulla
                    sapien ipsum, vehicula sit amet ipsum sed, congue mollis elit. Nullam quis sapien ullamcorper,
                    lobortis nibh vitae, semper lectus. Nulla rhoncus lorem non laoreet aliquet.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-6 col-lg-4">
        <mat-card>
            <mat-card-header>
                <mat-icon mat-card-avatar>home</mat-icon>
                <mat-card-title>Card with Icon</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis rhoncus tortor, a auctor tortor.
                    Vivamus lectus leo, condimentum in mi nec, tempor interdum augue. Morbi a fringilla arcu. Vivamus
                    rutrum odio velit, eu fermentum urna facilisis eget. Pellentesque porta semper consequat. Nulla
                    sapien ipsum, vehicula sit amet ipsum sed, congue mollis elit. Nullam quis sapien ullamcorper,
                    lobortis nibh vitae, semper lectus. Nulla rhoncus lorem non laoreet aliquet. Duis eros massa,
                    commodo a imperdiet sit amet, fermentum vitae nibh. Curabitur gravida semper neque, ac eleifend nunc
                    congue eget.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-lg-4">
        <mat-card class="card-with-image">
            <mat-card-header>
                <div mat-card-avatar class="card-header-image"></div>
                <mat-card-title>Card with Image</mat-card-title>
                <mat-card-subtitle>Egg Recipie</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/images/french-omelette.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    A true French omelette, or omelet as we Americans call it, is just eggs and butter, no filling. The
                    egg is folded for a soft, tender texture. It's 10% ingredients and 90% technique, so it does take a
                    bit of practice to perfect.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-6 col-lg-4">
        <mat-card class="card-with-image">
            <mat-card-header>
                <div mat-card-avatar class="card-header-image"></div>
                <mat-card-title>Card with Fab</mat-card-title>
                <mat-card-subtitle>Egg Recipie</mat-card-subtitle>
            </mat-card-header>
                <img mat-card-image src="assets/images/french-omelette.jpg" alt="Photo of a Shiba Inu"><button mat-fab class="card-fab"><mat-icon>add</mat-icon></button>
            <mat-card-content>
                <p>
                    A true French omelette, or omelet as we Americans call it, is just eggs and butter, no filling. The
                    egg is folded for a soft, tender texture. It's 10% ingredients and 90% technique, so it does take a
                    bit of practice to perfect.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-6 col-lg-4">
        <mat-card class="card-with-image">
            <mat-card-header>
                <div mat-card-avatar class="card-header-image"></div>
                <mat-card-title>Card with Tab</mat-card-title>
                <mat-card-subtitle>Egg Recipie</mat-card-subtitle>
            </mat-card-header>
                <img mat-card-image src="assets/images/french-omelette.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <mat-tab-group>
                    <mat-tab label="First"> <p>
                        A true French omelette, or omelet as we Americans call it, is just eggs and butter, no filling. The
                        egg is folded for a soft, tender texture. It's 10% ingredients and 90% technique, so it does take a
                        bit of practice to perfect.
                    </p> </mat-tab>
                    <mat-tab label="Second"> <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis rhoncus tortor, a auctor tortor.
                        Vivamus lectus leo, condimentum in mi nec, tempor interdum augue. Morbi a fringilla arcu. Vivamus
                        rutrum odio velit, eu fermentum urna facilisis eget. Pellentesque porta semper consequat. Nulla
                        sapien ipsum, vehicula sit amet ipsum sed, congue mollis elit. Nullam quis sapien ullamcorper,
                        lobortis nibh vitae, semper lectus. Nulla rhoncus lorem non laoreet aliquet.
                    </p> </mat-tab>
                    <mat-tab label="Third"> <p>
                        A true French omelette, or omelet as we Americans call it, is just eggs and butter, no filling. The
                        egg is folded for a soft, tender texture. It's 10% ingredients and 90% technique, so it does take a
                        bit of practice to perfect.
                    </p> </mat-tab>
                  </mat-tab-group>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<!-- <mat-card class="card-with-image">
    <mat-card-header>
      <div mat-card-avatar class="card-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card> -->