<div class="row">
    <div class="col-lg-6">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Button With Icons
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="button-row">
                    <span class="button-type-header">Basic</span>
                    <div class="buttons-container">
                        <div class="row">
                            <div class="col-4">
                                <button mat-button class="icon-button mr-2">
                                    <mat-icon>home</mat-icon>
                                    Basic
                                </button>
                            </div>
                            <div class="col-4">
                                <button mat-button class="icon-button mr-2" color="primary">
                                    <mat-icon>grade</mat-icon>
                                    Primary
                                </button>
                            </div>
                            <div class="col-4">
                                <button mat-button class="icon-button mr-2" color="accent">
                                    <mat-icon>settings</mat-icon>
                                    Accent
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <button mat-button class="icon-button mr-2" color="warn">
                                    <mat-icon>delete</mat-icon>
                                    Warn
                                </button>
                            </div>
                            <div class="col-4">
                                <button mat-button class="icon-button mr-2" disabled>
                                    <mat-icon>mail</mat-icon>
                                    Disabled
                                </button>
                            </div>
                            <div class="col-4">
                                <a mat-button class="icon-button mr-2">
                                    <mat-icon>link</mat-icon>
                                    Link
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="button-row">
                    <span class="button-type-header">Raised</span>
                    <div class="buttons-container">
                        <div class="row">
                            <div class="col-4">
                                <button mat-raised-button class="icon-button mr-2">
                                    <mat-icon>home</mat-icon>
                                    Basic
                                </button>
                            </div>
                            <div class="col-4">
                                <button mat-raised-button class="icon-button mr-2" color="primary">
                                    <mat-icon>grade</mat-icon>
                                    Primary
                                </button>
                            </div>
                            <div class="col-4">
                                <button mat-raised-button class="icon-button mr-2" color="accent">
                                    <mat-icon>settings</mat-icon>
                                    Accent
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <button mat-raised-button class="icon-button mr-2" color="warn">
                                    <mat-icon>delete</mat-icon>
                                    Warn
                                </button>
                            </div>
                            <div class="col-4">
                                <button mat-raised-button class="icon-button mr-2" disabled>
                                    <mat-icon>mail</mat-icon>
                                    Disabled
                                </button>
                            </div>
                            <div class="col-4">
                                <a mat-raised-button class="icon-button mr-2">
                                    <mat-icon>link</mat-icon>
                                    Link
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="button-row">
                    <span class="button-type-header">Stroked</span>
                    <div class="buttons-container">
                        <div class="row">
                            <div class="col-4">
                                <button mat-stroked-button class="icon-button mr-2">
                                    <mat-icon>home</mat-icon>
                                    Basic
                                </button>
                            </div>
                            <div class="col-4">
                                <button mat-stroked-button class="icon-button mr-2" color="primary">
                                    <mat-icon>grade</mat-icon>
                                    Primary
                                </button>
                            </div>
                            <div class="col-4">
                                <button mat-stroked-button class="icon-button mr-2" color="accent">
                                    <mat-icon>settings</mat-icon>
                                    Accent
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <button mat-stroked-button class="icon-button mr-2" color="warn">
                                    <mat-icon>delete</mat-icon>
                                    Warn
                                </button>
                            </div>
                            <div class="col-4">
                                <button mat-stroked-button class="icon-button mr-2" disabled>
                                    <mat-icon>mail</mat-icon>
                                    Disabled
                                </button>
                            </div>
                            <div class="col-4">
                                <a mat-stroked-button class="icon-button mr-2">
                                    <mat-icon>link</mat-icon>
                                    Link
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="button-row">
                    <span class="button-type-header">Flat</span>
                    <div class="buttons-container">
                        <div class="row">
                            <div class="col-4">
                                <button mat-flat-button class="icon-button mr-2">
                                    <mat-icon>home</mat-icon>
                                    Basic
                                </button>
                            </div>
                            <div class="col-4">
                                <button mat-flat-button class="icon-button mr-2" color="primary">
                                    <mat-icon>grade</mat-icon>
                                    Primary
                                </button>
                            </div>
                            <div class="col-4">
                                <button mat-flat-button class="icon-button mr-2" color="accent">
                                    <mat-icon>settings</mat-icon>
                                    Accent
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <button mat-flat-button class="icon-button mr-2" color="warn">
                                    <mat-icon>delete</mat-icon>
                                    Warn
                                </button>
                            </div>
                            <div class="col-4">
                                <button mat-flat-button class="icon-button mr-2" disabled>
                                    <mat-icon>mail</mat-icon>
                                    Disabled
                                </button>
                            </div>
                            <div class="col-4">
                                <a mat-flat-button class="icon-button mr-2">
                                    <mat-icon>link</mat-icon>
                                    Link
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-6">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Styled Icons
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="button-row">
                    <span class="button-type-header">Spinning</span>
                    <div class="buttons-container">
                        <div class="row">
                            <div class="col-4">
                                <button mat-raised-button class="icon-button mr-2" color="primary">
                                    <mat-icon class="loading-icon">grade</mat-icon>
                                    Raised
                                </button>
                            </div>
                            <div class="col-4">
                                <button mat-stroked-button class="icon-button mr-2" color="accent">
                                    <mat-icon class="loading-icon">settings</mat-icon>
                                    Stroked
                                </button>
                            </div>
                            <div class="col-4">
                                <button mat-flat-button class="icon-button mr-2" color="warn">
                                    <mat-icon class="loading-icon">rotate_right</mat-icon>
                                    Flat
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <button mat-raised-button class="icon-button mr-2" color="primary">
                                    <mat-icon class="loading-icon slow">grade</mat-icon>
                                    Raised
                                </button>
                            </div>
                            <div class="col-4">
                                <button mat-stroked-button class="icon-button mr-2" color="accent">
                                    <mat-icon class="loading-icon">settings</mat-icon>
                                    Stroked
                                </button>
                            </div>
                            <div class="col-4">
                                <button mat-flat-button class="icon-button mr-2" color="warn">
                                    <mat-icon class="loading-icon fast">rotate_right</mat-icon>
                                    Flat
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="button-row">
                    <span class="button-type-header">Loading</span>
                    <div class="buttons-container">
                        <div class="row">
                            <div class="col-4">
                                <button mat-raised-button class="mr-2" color="primary" [ngClass]="{'icon-button' : loading1.b2}" (click)="startLoading1(2)">
                                    <mat-icon class="loading-icon" *ngIf="loading1.b2">autorenew</mat-icon>
                                    Raised
                                </button>
                            </div>
                            <div class="col-4">
                                <button mat-stroked-button class="icon-button mr-2" color="accent" [ngClass]="{'icon-button' : loading1.b3}" (click)="startLoading1(3)">
                                    <mat-icon class="loading-icon" *ngIf="loading1.b3">autorenew</mat-icon>
                                    Stroked
                                </button>
                            </div>
                            <div class="col-4">
                                <button mat-flat-button class="icon-button mr-2" color="warn" [ngClass]="{'icon-button' : loading1.b4}" (click)="startLoading1(4)">
                                    <mat-icon class="loading-icon" *ngIf="loading1.b4">rotate_right</mat-icon>
                                    Flat
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <button mat-raised-button class="mr-2" color="primary" [ngClass]="{'loading-icon-only' : loading2.b2}" (click)="startLoading2(2)">
                                    <mat-icon class="loading-icon" *ngIf="loading2.b2">autorenew</mat-icon>
                                    <span *ngIf="!loading2.b2">Raised</span>
                                </button>
                            </div>
                            <div class="col-4">
                                <button mat-stroked-button class="icon-button mr-2" color="accent" [ngClass]="{'loading-icon-only' : loading2.b3}" (click)="startLoading2(3)">
                                    <mat-icon class="loading-icon" *ngIf="loading2.b3">autorenew</mat-icon>
                                    <span *ngIf="!loading2.b3">Stroked</span>
                                </button>
                            </div>
                            <div class="col-4">
                                <button mat-flat-button class="icon-button mr-2" color="warn" [ngClass]="{'loading-icon-only' : loading2.b4}" (click)="startLoading2(4)">
                                    <mat-icon class="loading-icon" *ngIf="loading2.b4">rotate_right</mat-icon>
                                    <span *ngIf="!loading2.b4">Flat</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="button-row">
                    <span class="button-type-header">Shade</span>
                    <div class="buttons-container">
                        <div class="row">
                            <div class="col-4">
                                <button mat-raised-button class="color-primary">Primary</button>
                            </div>
                            <div class="col-4">
                                <button mat-raised-button class="color-warn">Warn</button>
                            </div>
                            <div class="col-4">
                                <button mat-raised-button class="color-accent">Accent</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <button mat-raised-button class="color-primary-light">Primary</button>
                            </div>
                            <div class="col-4">
                                <button mat-raised-button class="color-warn-light">Warn</button>
                            </div>
                            <div class="col-4">
                                <button mat-raised-button class="color-accent-light">Accent</button>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="button-row">
                    <span class="button-type-header">Size</span>
                    <div class="buttons-container">
                        <div class="row">
                            <div class="col-4">
                                <button mat-raised-button class="lg" color="primary">Primary</button>
                            </div>
                            <div class="col-4">
                                <button mat-raised-button class="lg" color="warn">Warn</button>
                            </div>
                            <div class="col-4">
                                <button mat-raised-button class="lg" color="accent">Accent</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <button mat-raised-button class="sm" color="primary">Primary</button>
                            </div>
                            <div class="col-4">
                                <button mat-raised-button class="sm" color="warn">Warn</button>
                            </div>
                            <div class="col-4">
                                <button mat-raised-button class="sm" color="accent">Accent</button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>