.sidebar-container {
    .mat-expansion-panel-body {
        padding: 2px 24px 2px;
    }

    .mat-expansion-indicator {
        position: relative;
        top     : -4px
    }

    .mat-expanded .mat-expansion-indicator {
        position: unset;
        top     : unset
    }
}