.letter-icon {
    display: inline-block;
    font-family: 'Roboto';
    font-weight: bold;
    border: 2px solid;
    border-radius: 14px;
    font-size: 12px;
    width: 28px;
    height: 28px;
    line-height: 25px;
    text-align: center;
}