<div class="row">
    <div class="col-lg-6">
        <mat-card class="chart-card">
            <mat-card-header>
                <mat-card-title>
                    Line Chart
                </mat-card-title>
            </mat-card-header>
            <app-line-chart></app-line-chart>
        </mat-card>
    </div>
    <div class="col-lg-6">
        <mat-card class="chart-card">
            <mat-card-header>
                <mat-card-title>
                    Bar Chart
                </mat-card-title>
            </mat-card-header>
            <app-bar-chart></app-bar-chart>
        </mat-card>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <mat-card class="chart-card">
            <mat-card-header>
                <mat-card-title>
                    Pie Chart
                </mat-card-title>
            </mat-card-header>
            <app-pie-chart></app-pie-chart>
        </mat-card>
    </div>
    <div class="col-lg-6">
        <mat-card class="chart-card">
            <mat-card-header>
                <mat-card-title>
                    Doughnut Chart
                </mat-card-title>
            </mat-card-header>
            <app-doughnut-chart></app-doughnut-chart>
        </mat-card>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <mat-card class="chart-card">
            <mat-card-header>
                <mat-card-title>
                    Radar Chart
                </mat-card-title>
            </mat-card-header>
            <app-radar-chart></app-radar-chart>
        </mat-card>
    </div>
    <div class="col-lg-6">
        <mat-card class="chart-card">
            <mat-card-header>
                <mat-card-title>
                    Polar Area Chart
                </mat-card-title>
            </mat-card-header>
            <app-polar-area-chart></app-polar-area-chart>
        </mat-card>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <mat-card class="chart-card">
            <mat-card-header>
                <mat-card-title>
                    Bubble Chart
                </mat-card-title>
            </mat-card-header>
            <app-bubble-chart></app-bubble-chart>
        </mat-card>
    </div>
    <div class="col-lg-6">
        <mat-card class="chart-card">
            <mat-card-header>
                <mat-card-title>
                    Scatter Chart
                </mat-card-title>
            </mat-card-header>
            <app-scatter-chart></app-scatter-chart>
        </mat-card>
    </div>
</div>