/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin     : 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import './assets/css/bootstrap.min.css';
@import './assets/css/_reset.scss';
@import './assets/css/_sidebar.scss';
@import './assets/css/_button-toggle.scss';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';


[class*="col-"] {
    margin-bottom: 15px;
}

.desktop {
    .drawer-content .mat-drawer-inner-container {
        overflow-y: hidden;
    }

    .drawer-content .mat-drawer-inner-container:hover {
        overflow-y: auto;
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow   : inset 0 0 5px grey;
        border-radius: 10px;
        background   : #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background   : #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}